*,
*:after,
*:before {
	box-sizing: border-box;

}

/*h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans",bold;
	margin: 0;
	line-height: 1.5;
}
a,p {
	font-family: "Myriad Pro";
	font-weight: 100;
}*/

body {
	font: 400 14px/1.57 "Open Sans",sans-serif;
	/*width: 100vw;*/
	max-width: 1920px;
}

/*_____________________________HEADER_______________________*/
.header {
	/*width: 100%;*/
	padding: 15px 65px 15px 15px;
	/*font: 200 14px/1.57 "Myriad Pro",sans-serif;
	color: #555555;*/
	position: relative;
}

/*.header_nav {
	max-width: 820px;
	margin: 10px auto;
	
	padding: 10px 10px 10px 10px;
	position: relative;
}
.navigation {
	display: flex;
	flex-direction: column;
}*/

.navigation {
	max-width: 820px;
	margin: 10px auto;
	
	padding: 10px 10px 10px 10px;
	
	display: flex;
	flex-direction: column;
	position: relative;
}

/*---------------------------------------------------------------------------*/
.nav-holder {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: #5b6ceb;
	top: -316%;
	right: 137%;
	width: 110vw;
	height: 110vh;
	z-index: 21;
    padding:150px;
}

/*.nav-holder {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: #5b6ceb;
	top: -316%;
	right: 137%;
	width: 100vw;
	height: auto;
	z-index: 21;
    padding:150px;
}*/
.nav li>a {
	font-size: 44px;
	color: white;
	line-height: 3;

}



/*-------------------------------------------------------------------------*/

.logo {
	width: 69px;
	position: absolute;
	top: -14%;
	left: 47%;

}



.nav {
	display: flex;
	flex-direction: column;
	

}

.link {
	display: inline-block;
	vertical-align: top;
	margin:  0 30px 0 0;
	text-decoration: none;
	color: #555555;
	transition: color 0.25s linear;
	position: relative;
	font-weight: 600;
	font-size: 14px;
	padding: 0;

	 font-size: 14px;
     font-family: "OpenSans";
     color: rgb(85, 85, 85);
     font-weight: bold;
     line-height: 1.2;
     text-align: left;
}
.nav li:last-child>a {
	margin-right: 0;
}

.link:after {
	content: "";
	width: 50%;
	height: 1px;
	background: #5e6ddd;
	position: absolute;
	margin-top: 2px;
	top: 100%;
	left: 25%;
	z-index: 1;
	opacity: 0;
	transition: opacity .25s linear;
	/*visibility: hidden;*/
	/*transition: visibility 3s linear;*/
	  
}



.link:hover:after {
	opacity: 1;
	/*visibility: visible;*/
}

/*-----------______________button_______________________*/

#menu_button {
	opacity:0;
	display: none;
}

	
.button_menu {
	display: flex;
	align-items: center;
	position: absolute;
	top: -13px;
	right: -5px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 45;
}

.button_menu > span,
.button_menu > span::before,
.button_menu > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: red;

	}

.button_menu > span::before {
	content: '';
	top: -8px;
}

.button_menu > span::after {
	content: '';
	top: 8px;
}

#menu_button:checked ~ .button_menu > span {
	transform: rotate(45deg);
}

#menu_button:checked ~ .button_menu > span::before {
	top: 0;
	transform: rotate(0);
}

#menu_button:checked ~ .button_menu > span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu_button:checked ~ .button_menu+.nav-holder {
	transform: translateX(121%);
}




/*_________________________________MAIN_________________________*/

.intro {
	/*width: 100%;*/
	background-image: url("../images/mainpage.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 95px;
	position: relative;
}

.slider {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: baseline; 
	padding: 95px 15px;
	/*height: 600px;*/
	
	
	
}

.intro:after {
	content: "";
	position: absolute;
	background: rgb(108, 122, 226,0.1);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.slider {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.head_text {
	width: 100%;
	display: flex;
	flex-direction:column; 
	color: white;
	margin: auto auto;
	padding: 10px 10px 30px 47px;
	z-index: 20;

}

.head_text h1 {
	font-size: 48px;
	font-weight: bold;
	padding: 0 0 26px 0; 
	
}

.head_text p {
	font-family: 'Freestyle Script';
	font-size: 40px;
    font-family: "Freestyle Script";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;

}

/*----------------------------application form---------------*/
.menu_holder {
	width: 100%;
	

}
.menu {
	margin: 0 auto;
	width: 303px;
	height: 392px;
	display: flex;
	flex-direction: column;
	border-radius: 19px;
	padding: 23px 40px 15px 30px;
	background: white;
	z-index: 20;
	


}
.input_holder {
	display flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu_holder input, select, option {
    height: 50px;
	width: 230px;
	margin: 0 0 18px 0;
	background-color: #f2f2f2;
	font-size: 14px;
    font-family: "Open Sans";
    color: rgb(136, 136, 136);
    padding-left: 11px;
    line-height: 1.2;
    text-align: left;
    border-radius: 8px;
    background-color: rgb(242, 242, 242);
    border: none; 
	
}

.legend_holder {
	display: flex;
	padding: 10px 10px 10px 0;

}

.legend_holder legend {
	font-family: "Open Sans";
	line-height: 1.5;
	font-size: 25.64px;
	margin: 0 0 4px 4px;
	color: #5b6ceb;
	 
}
.btn_holder {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	padding: 13px 0 20px 0;
}

.menu .try_it {
	padding: 14px 64px;
	border-radius: 6px;
	background: #5b6ceb;
	font-family: "Open Sans";
	font-size: 16px;
	color: white;
	font-weight: bold;
	border:none;

}




/*____________________________program______________________*/

.program {
	margin: 0 auto 77px;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	padding:15px;

}

.program h2 {
	margin: 0 auto;
	color: #5b6ceb;
	font-size: 30px;
}

.program h3 {
	margin: 0 auto;
	font-size: 40.99px;
	font-family: "Freestyle Script",regular;
	color: #777777 ;
}

.variations {
	margin-top: 54px;
}

.card {
	box-shadow: -30px 15px 20px #f2f2f2;
	width: calc(100% - 15px);
	padding: 0px;
	border-radius: 6px;
	/*margin:25px 15px 0;*/
	margin:  0 0 25px 0;
	display: flex;
	flex-direction: column;
}

.card h4 {
	font-size: 20px;
    font-family: "Open Sans";
    color: rgb(119, 119, 119);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25;
    text-align: left;
    text-transform: uppercase;
}

.card img {
	/*float: left;*/
	/*margin-right: 30px;*/
	max-width: 100%;
	margin: 0 auto;

}

.card h6 {
	font-size: 14px;
    font-family: "Open Sans";
    color: rgb(153, 153, 153);
    line-height: 1.571;
    text-align: left;
}

.card p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(85, 85, 85);
    line-height: 1.571;
    text-align: left;

}

.card_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 36px 30px 43px;
    overflow: hidden;
}

/*_________________________picture_links________________*/

.picture_links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
	padding: 10px 0 10px 0;
	margin: 0 auto 100px ;
	
}

.picture_link {
	width: 100%;
	position: relative;


}

.img_link {
	width: 100%;
	/*max-width: 100%;*/
	display: block;
	/* исчез промежуток*/
	margin:0 auto;
	 
	
	
}

/*.picture_link:after{
	content:"";
	position: absolute;
	background:rgb(83,99,219,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	visibility: hidden;

}

.picture_link:hover:after {
	visibility: visible;

	
}*/




/*______________________about_us_____________________*/

.about_us {
	max-width: 1230px;
	margin: 0 auto 103px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.info {
	padding: 10px 143px 10px 15px;

}
.info h2 {
	font-size: 30px;
    font-family: "Open Sans";
    color: rgb(91, 108, 235);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 17px;
}

.yoga_gallery {
	width: 569px;
	
}

.gallery-img {
	min-width: 100%;
	border-radius: 7px;
	position: relative;

}

.slick-prev:before,
.slick-next:before {
	color:#5c6deb;
	font-size: 60px;
	/*position: absolute;*/
	top: -19px;

	}	

.slick-prev {
	content:"→";
	left: -22px;
	z-index: 1;
	position: absolute;
	}

.slick-next {
	content: "←";
	right: -61px;
	position: absolute;
	left: 520px;
	}							


/*________________________________yoga-adv_______________*/

.holder_adv {
	background: url(../images/img-visual02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    position: relative;
	padding: 110px 10px ;
	margin: 0 0 82px;
}

.holder_adv:after {
	content: "";
	position: absolute;
	background: rgb(108, 122, 226,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.adv_yoga {
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.adv_card {
	width: calc(50% - 10px);
	/*height: calc(50% - 10px);*/
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	z-index: 1;
	margin: 5px 5px;

}

.adv_card h4 {
	padding: 15px 0 10px 0;
	font-size: 18px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;

}

.adv_card p {
	font-size: 16px;
    font-family: "Open Sans";
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.688;
    text-align: center;
}

.card_holder {
	width: 70px;
	height: 70px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.adv_card img {

	max-width: 100%;
	height: auto;
}
/*??????????????????????РЕГУЛИРУЕМ РИСУНКИ*/





/*____________________buy_now___________________*/
.lotos_holder {
	width: 100%;
	background: url(../images/lotos.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 200px 0;
}

.buy_now {
	max-width: 1230px;
	padding: 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.buy_card {
	border-radius: 8px;
	background-color: #ffffff;
	width: calc(100% - 30px);
	display: flex;
	flex-direction: column;
	margin:15px;
	align-items: center;
	z-index: 5;
	flex-wrap: wrap;
	box-shadow: -30px 15px 20px #f2f2f2;
	
}
	/*---------------*/


.buy_title { 
	background: #5b6ceb;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 35px 0;
	margin-bottom: 29px;
	position: relative;
}

.price-title {
	margin:0 auto;
}
.dollar {
	position: absolute;
	top: 35%;
	left: 27%;

	 
	font-size: 32px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}
.month {
	font-size: 18px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: left;
}

.price {
	font-size: 67.35px;
  	font-family: "Open Sans";
  	color: rgb(255, 255, 255);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.125;
  	text-align: left;
}

.buy_card input {
	color: white;
	background: #5b6ceb;
	border-radius: 18px;
	font-size: 18px;
	padding: 16px 48px;
	margin: 40px 0;
	border: none;
}
.buy_card h5 {
	font-size: 18px;
	line-height: 3.40;

} 
.underlined{
	position: relative;
}

.underlined:after {
	display: block;
	content: "";
	position: absolute;
	width: 50%;
	height: 2px;
	background-color: #d7d7d7;
	bottom: -5%;
	left: 25%;
	
}
.buy_title h5 {
	font-size: 18px;
}

.buy_title h1 {
	font-size: 67.35px;
}


/*__________________________feedback------------------*/

/**/



/*___________________________ FOOTER____________________________*/

.footer {
	
	width: 100%;
	
}

.info_holder {
width: 100%;
background-color: #5b6ceb;
/*padding: 90px 442px 60px 365px;*/
padding: 90px 10px;
}

.footer_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1171px;
	margin: 0 auto;
	/*height: 450px;*/
	
	color: #ffffff;
	padding: 10px; 
}

.about {
	display: flex;
	flex-direction: column;
	width: 50%;
	/*margin-right: 139px;*/
	padding: 10px;
	justify-content: space-between;
}

.footer_info h3 {
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: bold;
	
}

.networks {
	display: flex;
	flex-direction: row;
	margin:0 ;
	padding: 70px 10px 10px 0;
	
}

.contacts {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 10px;
	align-content: flex-start;

}

.contacts a {
	color: white;
	text-decoration: none;
	/*display: inline-block; 
	width: 191px;
	height: 40px;*/
	/*margin: 0 10px 30px 0;*/
	/*padding: 0 10px 30px 0;*/
	display: block;
	width: 50%;
	padding: 0 0 24px 0;
}

.data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 35px;
}

.networks a {
	text-decoration: none;
	color:white;
	margin-right: 20px;
	font-size: 24px;

}
.data a {
	display: inline-block;
	position: relative;
	padding-right: 35px;
}

.data a:before {
	position: absolute;
	left: -35px;
}




















@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uspr2');
  src:  url('../fonts/icomoon.eot?uspr2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uspr2') format('truetype'),
    url('../fonts/icomoon.woff?uspr2') format('woff'),
    url('../fonts/icomoon.svg?uspr2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-globe:before {
  content: "\e904"
}
.icon-location:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-mail-envelope-closed:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-pinterest-p:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.data a:before {
	font-size: 24px;
	margin-right: 20px;
}

/*copyright*/

.copyright {
	background-color: #5363d8;
	display: flex;
	justify-content: center;
	padding: 40px 10px;
}

.copyright p {
	font-size: 16px;
	color: #b7bffc;
	margin:auto;
}




/*_______________________________________________________
___________________________________________________________
___________________________________________________
_______________RESPONSIVE________________________________*/


	
/*_______________________________________________________
___________________________________________________________
___________________________________________________
_______________RESPONSIVE________________________________*/

@media (min-width: 768px) {

/*.navigation {
	display: flex;
	flex-direction: row;*/
	/*justify-content: space-between;*/
	

.nav-holder {
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: none;
	padding: 0;
	height: 100%;
	width: 100%;
}

.nav {
	/*position: static;*/
	display: flex;
	flex-direction: row;
}

.nav li>a {
	font-size: 14px;
    font-family: "OpenSans";
    color: rgb(85, 85, 85);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    line-height: 1;
}

.button_menu {
	 visibility: hidden;
}

.logo {
	top: 5%;
}

.slider {
	display: flex;
	flex-direction: row;
	align-items: baseline; 
	padding: 95px 15px;
}
.head_text {
	width: 50%;
}
.menu_holder {
	width: 50%;
	display: flex ;
	justify-content: flex-end;
	padding: 10px 29px 10px 10px;
}

.menu {
	margin: 0;
}
.variations {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 54px;
}
.card {
	box-shadow: -30px 15px 20px #f2f2f2;
	width: calc(50% - 15px);

}

.picture_links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
}
.picture_link {
	width: 50%;
}
.img_link {
	width: 100%;
	margin: 0;
}

.adv_card {
	width: calc(33.33% - 10px);
}

.buy_now {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.buy_card {
	width: calc(50% - 30px);
	
	
}


}


@media (min-width: 1024px) {
.link:hover {
	color: #5e6ddd;
	
}

.link:hover:after {
	opacity: 1;
	/*visibility: visible;*/
}

.card {
	box-shadow: -30px 15px 20px #f2f2f2;
	width: calc(50% - 15px);
	flex-direction: row;
}

.card img {
	margin: 0;

}
.picture_link {
	width: 25%;
	
}	
.picture_link:after{
	content:"";
	position: absolute;
	background:url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	visibility: hidden;

}

.picture_link:hover:after {
	visibility: visible;
}

.about_us {
	flex-direction: row; 
}
.adv_card {
	width: calc(25% - 10px);
}
.buy_card {
	width: calc(33.33% - 30px);
	margin: 0 15px;
}

.footer_info {
	display: flex;
	flex-direction: row;
}
.contacts {
	padding-left: 130px;

}

.try_it:hover {
	background-color: #ffffff;
	color: #5b6ceb;
	border: 1px solid #5b6ceb ;
}

.btn_buy:hover {
	background-color: #ffffff;
	color: #5b6ceb;
	border: 1px solid #5b6ceb ;
}

.link:hover {
	color: #5e6ddd;
	
}

}