*,
*:after,
*:before {
	box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6 {
	font-family: "Open Sans",bold;
	margin: 0;
	line-height: 1.5;
}
a,p {
	font-family: "Myriad Pro";
	font-weight: 100;
}

body {
	width: 100vw;
	max-width: 1920px;
	font-size: 14px;
}

/*_____________________________HEADER_______________________*/
.header {
	width: 100%;
	padding: 10px;

}

.header_nav {
	max-width: 825px;
	padding:10px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
/*.logo {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	/*margin: 0 152px 0 122px;*/
}

.logo {
	width: 100%;

}

/*.logo h1 {
	font-family:"Myriad Pro";
	font-size: 24px;
	color: #5363db;
	font-weight: 100;
	margin: 0;
	
}*/

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	/*height: 100px;*/
	width: 100%;
	margin: 0 auto;

}
.nav {
	display: flex;
	flex-direction: row;

}

.link {
	display: inline-block;
	vertical-align: top;
	margin:  0 30px 0 0;
	text-decoration: none;
	color: #555555;
	font-size: 14px;
	/*text-transform: capitalize;*/
	transition: color 0.25s linear;
	position: relative;
	font-weight: 600;
	font-size: 14px;
}

.link:after {
	content: "";
	width: 50%;
	height: 1px;
	background: #5e6ddd;
	position: absolute;
	margin-top: 2px;
	top: 100%;
	left: 25%;
	z-index: 1;
	opacity: 0;
	transition: opacity .25s linear;
	/*visibility: hidden;*/
	/*transition: visibility 3s linear;*/
	  
}

.link:hover {
	color: #5e6ddd;
	
}

.link:hover:after {
	opacity: 1;
	/*visibility: visible;*/
}


/*_________________________________MAIN_________________________*/

.intro {
	width: 100%;
	background-image: url("../images/mainpage.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slider {
	width: 100%;
	max-width: 1174px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline; 
	padding:50px 10px;
	/*height: 600px;*/
	
	
}

.head_text {
	display: flex;
	flex-direction:column; 
	color: white;
	margin: auto 80px;

}

.head_text h1 {
	position: relative;
	font-size: 48px;
	font-weight: bold;
	top: -11px;
	left: -82px;
	
}

.head_text p {
	font-family: 'Freestyle Script';
	font-size: 40px;
	margin: 10px;
	position: relative;
	right: 79px;
	top: 10px;

}

/*----------------------------application form---------------*/

.menu {
	width: 303px;
	height: 392px;
	display: flex;
	flex-direction: column;
	/*margin: 100px 90px 110px 336px;*/
	border-radius: 19px;
	padding: 38px 40px 15px 30px;
	background: white;
	position: relative;
	top: -19px;


}

.input, select, option {

	height: 50px;
	width: 230px;
	margin: 18px 0 0 0;
	background-color: #f2f2f2;
	/*color: #969696;*/
	color:red;
	padding-left: 10px;
	border:none;
	border-radius: 6px;
}

.menu legend {
	font-family: "Open Sans";
	line-height: 1.5;
	font-size: 25.64px;
	margin: 0 0 4px 4px;
	color: blue;
	position: relative;
	top: 51px;
	 
}

.menu .try_it {
	width: 170px;
	height: 50px;
	position: relative;
	right: -64px;
	bottom: -33px;
	border-radius: 6px;
	background: blue;
	font-family: "Open Sans";
	font-size: 16px;
	color: white;
	font-weight: bold;
	border:none;

}




/*____________________________program______________________*/

.program {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1190px;
	padding:10px;

}

.program h2 {
	margin: 0 auto;
	color: #5b6ceb;
	font-size: 30px;
}

.program h3 {
	margin: 0 auto;
	font-size: 40.99px;
	font-family: "Freestyle Script",regular;
	color: #777777 ;
}

.variations {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	width: calc(50% - 30px);
	padding: 0px;
	border-radius: 6px;
	margin:25px 15px 0;
	/*margin: auto 0;*/
	display: flex;
	flex-direction: row;
}

.card h3 {
	font-family: "Open Sans";
	font-size: 20px;
	color: #777777 ;
	margin: 0;
}

.card img {
	/*float: left;*/
	margin-right: 30px;
}

.card h6 {
	font-size: 14px;
	font-weight: regular;
	color: #999999;
}

.card_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*_________________________picture_links________________*/

.picture_links {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	padding: 126px 0 10px 0;
	
}

.picture_link {
	width: 25%;
	position: relative;
}

.img_link {
	max-width: 478px;
}

.picture_link:hover {
	content:"";
	position: absolute;
	background:  url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background: rgb(108, 122, 226,0.9);*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


}

/*______________________about_us_____________________*/

.about_us {
	max-width: 1220px;
	margin: 0 auto;
	padding: 105px  10px;
	display: flex;
	flex-direction: row;

}

.info {
	padding: 10px;

}

.yoga_gallery {
	width: 50%;

}

.gallery-img {
	min-width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color:#5c6deb;
	font-size: 50px;
	}	

.slick-prev {
	left: 50px;
	z-index: 1;
	}

.slick-next {
	right: 30px;
	}							


/*________________________________yoga-adv_______________*/

.holder_adv {
	background: url(../images/img-visual02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    position: relative;
	padding: 110px 10px ;
	margin: 50px 0;
}

.holder_adv:after {
	content: "";
	position: absolute;
	background: rgb(108, 122, 226,0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.adv_yoga {
	margin: 0 auto;
	max-width: 1200px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.adv_card {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	width: 25%;
	z-index: 1;

}

.adv_card h3 {
	padding: 25px 0;
}

.adv_card img {

	border: 2px solid #ffffff;
	border-radius: 100%;
	width: 40%;
	/*height: 70px;*/
	padding: 10px;
}
/*??????????????????????РЕГУЛИРУЕМ РИСУНКИ*/





/*____________________buy_now___________________*/
.lotos_holder {
	width: 100%;
	background: url(../images/lotos.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 200px 0;
}

.buy_now {
	max-width: 1200px;
	padding: 15px;
	margin: 35px auto 0 ;
	display: flex;
	flex-direction: row;
}

.buy_card {
	border-radius: 8px;
	background-color: #ffffff;
	width: calc(33.33% - 30px);
	display: flex;
	flex-direction: column;
	margin: 0 15px;
	align-items: center;
	z-index: 5;


}

.buy_title { 
	background: #5b6ceb;
	border-radius: 8px;
	color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: ;
	padding: 50px 0;
	margin-bottom: 50px;
}

.buy_card input {
	color: white;
	background: #5b6ceb;
	border-radius: 18px;
	font-size: 18px;
	padding: 16px 48px;
	margin: 40px 0;
	border: none;
}
.buy_card h3 {
	font-size: 18px;
	line-height: 2.83;

} 
.underlined{
	position: relative;
}

.underlined:after {
	display: block;
	content: "";
	position: absolute;
	width: 50%;
	height: 2px;
	background-color: #d7d7d7;
	bottom: -5%;
	left: 25%;
	
}
.buy_title h5 {
	font-size: 18px;
}

.buy_title h1 {
	font-size: 67.35px;
}


/*__________________________feedback------------------*/

.feedbacks {
	margin: 70px auto 0;
	max-width: 1145px;
	padding: 40px 100px 60px 64px;
	background-color: #ffffff;
	border-radius: 7px;
}

.feedback {
	display: flex;
	flex-direction: row;
	/*position: relative;*/
}

.trainer {
	border-radius: 100%;
	border: 2px solid #d7d7d7;
	padding: 10px;
	margin-right: 40px;
	
}

.img_wrapper {
	position: relative;
}

.img_wrapper:after {
	position: absolute;
	display: block; 
	content: "";
	width: 10px;
	height: 75px;
	background: #d7d7d7;
	top: 39%;
	left: 101%;
}

.feedback blockquote {
	padding:0 10px 0 50px;
	position: relative;
}

.f_info:before {
	content: "\0022";
	color: #5b6ceb;
	width: 20px;
	margin: 0 30px 0 30px;
	position: absolute;
	left:-30px;
	
}

.f_info:after {
	content: "\2033";
	color: #5b6ceb ;
	width: 20px;
	margin: 0 30px 0 30px;
}





/*___________________________ FOOTER____________________________*/

.footer {
	
	width: 100%;
	
}

.info_holder {
width: 100%;
background-color: #5b6ceb;
/*padding: 90px 442px 60px 365px;*/
padding: 90px 10px;
}

.footer_info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1171px;
	margin: 0 auto;
	/*height: 450px;*/
	
	color: #ffffff;
	padding: 10px; 
}

.about {
	display: flex;
	flex-direction: column;
	width: 462px;
	/*margin-right: 139px;*/
	padding: 10px;
	justify-content: space-between;
}

.footer_info h3 {
	text-transform: uppercase;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: bold;
	
}

.networks {
	display: flex;
	flex-direction: row;
	margin: ;
	padding: 70px 10px 10px 0;
	
}

.contacts {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 130px;
	align-content: flex-start;

}

.contacts a {
	color: white;
	text-decoration: none;
	/*display: inline-block; 
	width: 191px;
	height: 40px;*/
	/*margin: 0 10px 30px 0;*/
	/*padding: 0 10px 30px 0;*/
	display: block;
	width: 50%;
	padding: 0 0 24px 0;
}

.data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.networks a {
	text-decoration: none;
	color:white;
	margin-right: 20px;
	font-size: 24px;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uspr2');
  src:  url('../fonts/icomoon.eot?uspr2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uspr2') format('truetype'),
    url('../fonts/icomoon.woff?uspr2') format('woff'),
    url('../fonts/icomoon.svg?uspr2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-globe:before {
  content: "\e904"
}
.icon-location:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-mail-envelope-closed:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-pinterest-p:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.data a:before {
	font-size: 24px;
	margin-right: 20px;
}

/*copyright*/

.copyright {
	background-color: #5363d8;
	display: flex;
	justify-content: center;
	padding: 40px 10px;
}

.copyright p {
	font-size: 16px;
	color: #b7bffc;
	margin:auto;
}
